server:
    port: 8081

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://localhost:5432/fitness_user_db
    username: postgres
    password: Activa4492!

    jpa:
      hibernate:
        ddl-auto: update
        properties:
          hibernate:
            dialect: org.hibernate.dialect.PostgreSQLDialect
            debug : true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/